<!--
  Icon:

  <svg viewBox="0 0 20 20">
    <path
      fill-rule="evenodd"
      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
      clip-rule="evenodd"
      fill='black'
    ></path>
  </svg>

  It should be color red-500
-->

<div class="p-8">
  <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
    Email
  </label>
  <div class="relative mt-1 rounded-md shadow-sm">
    <input
      id="email"
      class="block w-full text-red-900 placeholder-red-300 border-red-300 form-input focus:border-red-300 focus:shadow-outline-red sm:text-sm sm:leading-5"
      placeholder="you@example.com"
      value="adamwathan"
    />
  </div>
  <p class="mt-2 text-sm text-red-600">
    Your password must be less than 4 characters.
  </p>
</div>