<!--
  Add 10 padding to the left of the input

  Then add the svg icon:

  <svg viewBox="0 0 20 20">
    <path
      fill-rule="evenodd"
      d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884zM18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
      clip-rule="evenodd"
      fill="#4299E1"
    ></path>
  </svg>
-->

<div class="p-8">
  <label for="email" class="block text-sm font-medium leading-5 text-gray-700">
    Email
  </label>
  <div class="relative mt-1 rounded-md shadow-sm">
    <input
      id="email"
      class="block w-full placeholder-gray-400 form-input sm:text-sm sm:leading-5"
      placeholder="you@example.com"
    />
  </div>
</div>