<div class="mt-8">
  <div class="w-1/2 mx-auto overflow-hidden rounded shadow-lg">
    <img
      class="object-cover w-full h-28"
      src="https://source.unsplash.com/_Dogn_h7Qek"
    />
    <div class="p-4 text-sm font-medium text-gray-500">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia odit
      quod ab, asperiores, praesentium veniam.
    </div>
  </div>
</div>
