<div class="mt-8">
  <div class="w-1/2 mx-auto overflow-hidden rounded shadow-lg">
    <Final::AspectRatio @ratio="6016:4016">
      <img class="" src="https://source.unsplash.com/_Dogn_h7Qek" />
    </Final::AspectRatio>

    <div class="p-4 text-sm font-medium text-gray-500">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia odit quod ab, asperiores, praesentium veniam.
    </div>
  </div>
</div>