<div class="h-full p-4 bg-gray-50">
  <div class="inline-block rounded-md shadow-sm">
    <button
      type="button"
      class="float-left px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-l-md hover:text-gray-500 focus:outline-none active:bg-gray-100 active:text-gray-700"
    >
      Years
    </button>
    <button
      type="button"
      class="float-left px-4 py-2 -ml-px text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 hover:text-gray-500 focus:outline-none active:bg-gray-100 active:text-gray-700"
    >
      Months
    </button>
    <button
      type="button"
      class="float-left px-4 py-2 -ml-px text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-r-md hover:text-gray-500 focus:outline-none active:bg-gray-100 active:text-gray-700"
    >
      Days
    </button>
  </div>
</div>