<div class="grid h-full grid-cols-2 gap-2 overflow-y-auto bg-gray-100">
  <div class="h-full overflow-y-auto">
    <div class="h-full overflow-y-auto bg-white">
      {{component
        (concat "exercises/exercise-" @model.exerciseNumber "/exercise")
      }}
    </div>
  </div>
  <div class="h-full">
    <div class="h-full overflow-y-auto bg-white">
      {{component
        (concat "exercises/exercise-" @model.exerciseNumber "/solution")
      }}
    </div>
  </div>
</div>