<!--
  Add "text-indigo-600 border-indigo-500" as @activeClass
-->

<div class="mx-8 border-b border-gray-200">
  <nav class="flex -mb-px">
    <LinkTo
      @route="exercise.child-1"
      class="px-1 py-4 text-sm font-medium leading-5 text-gray-500 whitespace-no-wrap border-b-2 border-transparent hover:text-gray-700 hover:border-gray-300"
    >
      My Account
    </LinkTo>
    <LinkTo
      @route="exercise.child-2"
      class="px-1 py-4 ml-8 text-sm font-medium leading-5 text-gray-500 whitespace-no-wrap border-b-2 border-transparent hover:text-gray-700 hover:border-gray-300"
    >
      Company
    </LinkTo>
    <LinkTo
      @route="exercise.child-3"
      class="px-1 py-4 ml-8 text-sm font-medium leading-5 text-gray-500 whitespace-no-wrap border-b-2 border-transparent hover:text-gray-700 hover:border-gray-300"
    >
      Team Members
    </LinkTo>
  </nav>
</div>