<div class="mx-8 border-b border-gray-200">
  <nav class="flex -mb-px">
    <Final::Link
      @route="exercise.child-1"
      class="px-1 py-4 text-sm font-medium leading-5 whitespace-no-wrap border-b-2 border-transparent"
      @inactiveClass="text-gray-500 hover:text-gray-700 hover:border-gray-300"
      @activeClass="text-indigo-600 border-indigo-500"
    >
      My Account
    </Final::Link>
    <Final::Link
      @route="exercise.child-2"
      class="px-1 py-4 ml-8 text-sm font-medium leading-5 whitespace-no-wrap border-b-2 border-transparent"
      @inactiveClass="text-gray-500 hover:text-gray-700 hover:border-gray-300"
      @activeClass="text-indigo-600 border-indigo-500"
    >
      Company
    </Final::Link>
    <Final::Link
      @route="exercise.child-3"
      class="px-1 py-4 ml-8 text-sm font-medium leading-5 whitespace-no-wrap border-b-2 border-transparent"
      @inactiveClass="text-gray-500 hover:text-gray-700 hover:border-gray-300"
      @activeClass="text-indigo-600 border-indigo-500"
    >
      Team Members
    </Final::Link>
  </nav>
</div>